<div class = "container justify-content-center">
  <%# NAVBAR %>
  <div>

  </div>

  <%# FILTERS %>
  <div class="cards">
    <div class="card-category">
      <a href=""><i class="fa-solid fa-biohazard"></i><span>Zombie-Free</span></a>
    </div>

    <div class="card-category">
      <a href=""><i class="fa-solid fa-music"></i><span>Rave</span></a>
    </div>

    <div class="card-category">
      <a href=""><i class="fa-solid fa-laptop"></i><span>Coding Heaven</span></a>
    </div>

    <div class="card-category">
      <a href=""><i class="fa-solid fa-smoking"></i><span>Cigar&Chill</span></a>
    </div>

    <div class="card-category">
      <a href=""><i class="fa-solid fa-landmark"></i><span>History</span></a>
    </div>

    <div class="card-category">
      <a href=""><p class="filter-button"><i class="fa-solid fa-filter-list"></i> Filters</p></a>
    </div>

  </div>

  <%# CARDS %>
  <div class="bunker-card d-flex align-content-center justify-content-center flex-wrap">
    <% @bunkers.each do |bunker| %>
      <div class="row pt-5 mx-1" style="width: 18rem;">
        <div class="col-12">
            <img class="bunker-image card-img-top rounded" src="https://images.unsplash.com/photo-1482670205041-1281b9faf4b9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80" alt="Card image cap">
          <div class="col mb-3 px-0 align-items-stretch">
              <div class="card-body pl-0">
                <h5 class="card-title border-bottom"> <%= bunker.name %></h5>
                <p class="card-text"><%= bunker.location %></p>
                <p class="card-text">€<%= bunker.price %> night</p>
                <a href="#" class="btn btn-outline-dark mt-auto align-self-start">View</a>
              </div>
          </div>
        </div>
      </div>
    <% end %>

  </div>
</div>
