


<div class = "container justify-content-center">
  <%# NAVBAR %>
  <div>

  </div>

  <%# FILTERS %>
  <div>

  </div>

  <%# CARDS %>
  <div class="d-flex align-content-center justify-content-center flex-wrap">
    <% @bunkers.each do |bunker| %>
      <div class="row pt-5" style="width: 18rem;">
        <div class="col-12">
          <div class="col-lg-4 mb-3 d-flex align-items-stretch">
            <img class="card-img-top" src="" alt="Card image cap">
              <div class="card-body d-flex flex-column">
                <h5 class="card-title border-bottom mb-4"> <%= bunker.name %></h5>
                <p class="card-text"><%= bunker.description %></p>
                <p class="card-text">€<%= bunker.price %> night</p>
                <a href="#" class="btn btn-primary mt-auto align-self-start">View</a>
              </div>
          </div>
        </div>
      </div>
    <% end %>

  </div>
</div>
