<div class="container">

<%# MOBILE IMAGE SLIDER %>
  <div class="">

  </div>

<%# MOBILE TITLE BAR %>
  <div class="mt-2">
    <div><h3><%= @bunker.name %></h3></div>
    <div>⭐️ 5.0 | 5 reviews | Super Bunker | South Carolina</div>
  </div>

<%# MULTI IMAGE BLOCK %>

  <div class="flex-container mt-2" id="multi-image-block">
    <%# INSERT IMAGE #2 %>
    <div class="flex-items shadow" id="photo1" style="background-image: linear-gradient(to bottom, rgba(255, 153, 187, 0.30), rgba(133, 255, 214, 0.50)), url('https://images.unsplash.com/photo-1599298298575-bcf4b1a1d4a7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2073&q=80')"></div>
    <div class="flex-items  shadow">
      <div class="flex2-container">
        <%# INSERT IMAGE #2 %>
        <div class="flex2-items shadow" style="background-image: linear-gradient(to bottom, rgba(255, 153, 187, 0.30), rgba(133, 255, 214, 0.50)), url('https://images.unsplash.com/photo-1482670205041-1281b9faf4b9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80"></div>
        <%# INSERT IMAGE #3 %>
        <div class="flex2-items shadow" style="background-image:  linear-gradient(to bottom, rgba(255, 153, 187, 0.30), rgba(133, 255, 214, 0.50)), url('https://images.unsplash.com/photo-1597575732103-9f6d068cfa9f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80')"></div>
      </div>
    </div>
    <div class="flex-items">
      <div class="flex2-container">
        <%# INSERT IMAGE #4 %>
        <div class="flex2-items shadow photo4" id="photo4" style="background-image:  linear-gradient(to bottom, rgba(255, 153, 187, 0.30), rgba(133, 255, 214, 0.50)), url('https://images.unsplash.com/photo-1529940316268-e245e031bcd1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80"></div>
        <%# INSERT IMAGE #5 %>
        <div class="flex2-items shadow photo5" id="photo5" style="background-image:  linear-gradient(to bottom, rgba(255, 153, 187, 0.30), rgba(133, 255, 214, 0.50)), url('https://images.unsplash.com/photo-1619115288679-b4e581327883?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80"></div>
      </div>
    </div>
  </div>


<%# DESCRIPTION BLOCK %>
  <div class="">

  </div>

</div>
